// Small tablets and large smartphones (landscape view)
$phone: 576px;

// Small tablets (portrait view)
$tablet: 768px;

// Tablets and small desktops
$small-desktop: 992px;

// Large tablets and desktops
$desktop: 1200px;


// Small devices
@mixin phone {
    @media (max-width: #{$phone}) {
        @content;
    }
}

// Medium devices
@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content;
    }
}

// Large devices
@mixin small-desktop {
    @media (max-width: #{$small-desktop}) {
        @content;
    }
}

// Extra large devices
@mixin desktop {
    @media (max-width: #{$desktop}) {
        @content;
    }
}

// deduct a certain percentage from the initial value
@function font-substract($value, $percent : 10) {
    @return $value - math.div($value * $percent, 100);
}