@use "sass:math";

@import "./variables";
@import "./responsive";

body {
    padding: 0;
    margin: 0;
}

.video {
    width: 100%;
    height: 100vh;
    position: sticky;


    #start {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba($color: #000000, $alpha: .7);
        color: white;
        transition: ease-in-out .2;
        
        p {
            $font : 50px;
            cursor: pointer;
            font-size: $font;
            border: solid #fff 2px;
            border-radius: 50%;
            padding: 20px;
            
            &:hover {
                font-size: $font + 5;
            }
        }
    }

    #reader {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 100px;
        width: 80%;
        // background: red;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        display: false;

        svg {
            display: block;
            cursor: pointer;
        }

        p {
            margin-left: 10px;
            color: white;
        }

        #video_progress_bar {
            width: 70%;
            -webkit-appearance: none;
            padding: 0;
            font: inherit;
            outline: none;
            color: #069;
            opacity: .8;
            background: #CCC;
            box-sizing: border-box;
            transition: opacity .2s;
            cursor: pointer;
            height: 3px;

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 15px;
                height: 15px;
                background: #fc4c05;
                border-radius: 50%;
                cursor: pointer;
            }
        }
    }
}

video#bgvid {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: -10;
    object-fit: cover;
}

.puce {
    position: absolute;
    // top: 50%;
    // left: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: red;
    z-index: 3;

    .dot {
        $size : 8px;
        position: absolute;
        width: $size;
        height: $size;
        border-radius: 50%;
        border: solid 2px #fff;
        background: #fff;
        z-index: 6;
        display: flex;
        align-items: center;
        justify-content: center;

        .content {
            opacity: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: fit-content;
            padding: 10px;

            p {
                font-size: 12px;
                margin: 0;
            }

            img {
                width: 0px;
                height: auto;
            }
        }
    }
    
    .circle {
        position: absolute;
        width: 25px;
        height: 25px;
        border: solid #fff 1px;
        border-radius: 50%;
        z-index: 5;
    }

    .pulse {
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: solid 1px #fff;
        z-index: 4;
    }
}